<!DOCTYPE html>
<html>
<head>
  <title>Task 5 - Mini To-Do App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="" ng-init="tasks=[]">

  <h2>Mini To-Do Application</h2>

  <input type="text" ng-model="newTask" placeholder="Enter a task">
  <button ng-click="tasks.push(newTask); newTask=''">Add Task</button>

  <h3>Task List</h3>
  <ul>
    <li ng-repeat="task in tasks">
      {{task}}
    </li>
  </ul>

</body>
</html>